<div class="container">
  <div class="row">
    <div class="col-md-3">
      <!--ユーザー情報-->
      <h2>User info</h2>
      <%= attachment_image_tag @user, :profile_image_id, :fill, 90, 90, fallback: "no_image.jpg" %>
      <table class="table">
        <tbody>
          <tr>
            <th>name</th>
            <th><%= @user.name %></th>
          </tr>
          <tr>
            <th>introduction</th>
            <th><%= @user.introduction %></th>
          </tr>
        </tbody>
      </table>
      <div class="row">
        <%= link_to edit_user_path(current_user.id), class: "btn btn-outline-secondary btn-block" do %>
          <i class="fas fa-user-cog"></i>
        <% end %>
      </div>
      <!--新規投稿-->
      <h2>New book</h2>
      <%= form_with model:@book, local: true do |f| %>
        <div class="form-group">
          <%= f.label :title %>
          <%= f.text_field :title, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :Opinion  %>
          <%= f.text_area :body, class: "form-control" %>
        </div>
        <%= f.submit "Create Book", class: "btn btn-success" %>
      <% end %>

    </div>


    <div class="col-md-8 offset-md-1">
      <h2>Books</h2>
      <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th></th>
            <th>Title</th>
            <th>Opinion</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
        <% @books.each do |book| %>
          <tr>
            <td><%= attachment_image_tag book.user, :profile_image, :fill, 40, 40, format:'jpeg', fallback: 'no_image.jpg', size:'40x40' %></td>
            <td><%= book.title %></td>
            <td><%= book.body %></td>
            <td></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>